.header {
  display: flex;
  width:  50%;
  justify-content: center;
  background: cadetblue;
  align-self: flex-start;
  margin-left: 200px;}

#refresh {
  /* height: fit-content; */
  align-self: center;
}


section {
  display: flex;
  width: 50%;
  margin-left: 200px;
  background: cadetblue;

}

form {
  display: flex;
  flex-direction: column;
  padding-left: 117px;
}

#submit {
  width: fit-content;
  align-self: end;
}

ul li {
  overflow: hidden;
}
ul{
  background: darkcyan;
}